.mainContainer {
    display: flex;
    flex-direction: column;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

.heading {
    font-size: 32px;
    font-weight: 700;
    padding: 20px;
}

.inputContainer {
    margin: 20px 0;
}

.inputContainer input {
    min-width: 500px;
    height: 30px;
    padding: 15px;
    font-size: 20px;
}

.button {
    min-width: 534px;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    background-color: black;
    color: white;
    font-weight: 600;
}

.alreadyAccount {
    margin-top: 20px;
    font-size: 18px;
}

.login {
    color: blue;
    cursor: pointer;
    
}